/* General */
:root {
    --def-bg: #171616;
    --def-link-text: white;
    --def-accent: #f80000;
}

body {
    position: relative;
    font-family: serif, Arial, Helvetica;
}

.header-center {
    margin: auto;
    margin-bottom: 15px;
    text-align: center;

    color: black;
    text-decoration: underline;
    text-decoration-color: var(--def-accent);
}

.underlined {
    text-decoration: underline;
    text-decoration-color: var(--def-accent);
    text-decoration-thickness: 1px;
}

/* banner announcements */
#banner-announcement {
    background-color: rgb(215, 210, 210);
    color: white;
    text-align: center;
    margin-bottom: 10px;
    padding: 20px;
}


/* navbar */
.navbar {
    background-color: var(--def-bg);
}

.navbar-accent {
    background-color: var(--def-accent);
    height: 5px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

.nav-link {
    color: var(--def-link-text);
    font-size: large;
    border: 3px solid transparent;
}

.nav-link:hover {
    color: var(--def-accent);
    border-bottom: 3px solid var(--def-accent);
}

#hamburger {
    margin-right: 10px;
    display: inline-block;
}

.navbar-brand:hover {
    filter: brightness(0) invert(14%) sepia(99%) saturate(5357%) hue-rotate(357deg) brightness(90%) contrast(118%);
}

/* hero image */
.hero-image {
    background-image: url("/images/misc/hero3.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height:90vh;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    border: #f80000 3px solid;
}

/* about us section - company logos for OTHER companies */
.company-logo {
    height: auto;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Our Team - general. NOTE: team member card style handled in team.css stylesheet */
.arrow-svg {
    height: 30px;
    width: 30px;
    display: inline-block;
}

/* join us */
.card-icon {
    height: 50px;
    width: auto;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
    border-style: solid;
    padding: 5px;
}

/* footer */
.footer-text {
    color: var(--def-link-text);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: small;
}

footer {
    background-color: var(--def-bg);
}

#loading-overlay {
    opacity: 0.9;
    background: white;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
}

/* events */

.events {
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

/* carousel */
.carousel-image {
    height: 300px;
}

@media (max-width: 800px) {

    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    /* carousel */
    .carousel-image {
        height: 90vh;
    }
}

.carousel-caption {
    top: 0;
    bottom: auto;
    margin-top: 20px;
}

a {
    color: var(--def-accent);
}

.flyer-img {
    height: 40%;
    width: 40%;
    object-fit: contain;
    margin: auto;
    display: block;
    padding: 3px;
    border: #f80000 3px solid;
    border-radius: 10px;
}