/* General */
:root {
    /* --def-bg: #9e8f8f;
    --def-accent: #CC0000;
    */
    /* --def-bg: #F80000; */
    --def-bg: #bebaba;
    --def-accent: #f80000;
    --def-hover: aliceblue;
}

html,
body {
    overflow-x: hidden;
}

body {
    position: relative
}

.header-center {
    margin: auto;
    margin-bottom: 15px;
    text-align: center;

    color: black;
    text-decoration: underline;
    text-decoration-color: var(--def-accent);
}

/* navbar */
.navbar {
    background-color: var(--def-bg);
}

.navbar-accent {
    background-color: var(--def-accent);
    height: 5px;
}

.nav-link {
    color: black;
    font-size: large;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
  }

.nav-link:hover {
    color: var(--def-accent);
    border-bottom: 3px solid var(--def-accent);
}

#hamburger {
    margin-right: 10px;
    display: inline-block;
}

.navbar-brand:hover {
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(1);
}

/* about us section */
.company-logo {
    height: auto;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;}

/* Our Team - general. NOTE: team member card style handled in team.css stylesheet */
.arrow-svg {
    height: 30px;
    width: 30px;
    display: inline-block;
}

/* join us */
.card-icon {
    height: 50px;
    width: auto;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
    border-style: solid;
    padding: 5px;
}

/* footer */
.footer-text {
    color: black;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: small;
}

footer {
    background-color: var(--def-bg);
}

#loading-overlay {
    opacity:    0.9; 
    background: white; 
    width:      100%;
    height:     100%; 
    z-index:    10;
    top:        0; 
    left:       0; 
    position:   fixed; 
}

/* events */
.events {
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

/* carousel */
.carousel-image {
    height: 300px;
}

.carousel-caption {
    top: 0;
    bottom: auto;
}